<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="images/fevicon.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="assets/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="assets/style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="assets/responsive.css" />
      <!-- color css -->
      <link rel="stylesheet" href="assets/colors.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="assets/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="assets/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="assets/custom.css" />
      <!-- calendar file css -->
      <link rel="stylesheet" href="assets/semantic.min.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <form id="myform" method="post" action=<%= data.addr %>></form>

   <body class="inner_page error_404">
      <div class="full_container">
         <div class="container">
            <div class="center verticle_center full_height">
               <div class="error_page">
                  <div class="center">
                     <div class="error_icon">
                        <img class="img-responsive" src="images/layout_img/error.png" alt="#">
                     </div>
                  </div>
                  <br>
                  <h3>PAGE NOT FOUND !</h3>
                  <P>YOU ENTERED WRONG CREDENTIALS</P>
                  <div class="center"><a class="main_bt" onclick="document.getElementById('myform').submit();">Go To Home Page</a></div>
               </div>
            </div>
         </div>
      </div>
      <!-- jQuery -->

      <!-- wow animation -->
      <!-- select country -->
      <!-- nice scrollbar -->
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="js/custom.js"></script>
   </body>
</html>